body {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

h2 {
  margin-top: -30px;
}

#bothContainers {
  height: 85px;
  padding-left: 30px;
  padding-right: 30px;
}

@font-face {
  font-family: Japanese;
  src: url('Japanese.otf');
}
